openapi: 3.1.0
info:
  title: Subagents API
  version: 1.0.0
  description: |
    REST API for subagent observability and inter-agent notifications.

    ## Overview

    This API covers:
    - **Subagent observability**: Poll status, retrieve results, and send follow-up messages to dispatched agents
    - **Notifications**: Source-agnostic signal bus for inter-agent communication

    Subagent **lifecycle** operations (create and cancel) are not part of this API — they are
    handled exclusively by top-level platform tools (`dispatch_subagent`, `cancel_subagent`)
    which act as guardrails with platform-level control.

    ## Authentication

    Canonical shape (used by every platform service):

    ```
    Authorization: Bearer <user JWT>       # always the principal; required
    X-Admin-Key: <MCP_ADMIN_KEY>           # service-to-service trust; optional
    ```

    - **Direct user calls** (browser, PAT): send `Authorization` only.
    - **Service-to-service calls** (e.g., the MCP bridge on behalf of a user): send both
      headers. The JWT identifies the user; `X-Admin-Key` asserts bridge trust.

    ## Key Concepts

    - **Subagent**: An autonomous agent that runs a full ReAct loop. Dispatched via platform
      tools (not this API). This API provides read-only observability and follow-up messaging.

    - **Notification**: A lightweight signal written to Firestore. The primary agent's ReAct
      loop consumes pending notifications at each iteration boundary as system messages. The
      browser receives them in real-time via Firestore `onSnapshot`.

    - **Response**: The full output of a completed subagent. Stored in MongoDB on the
      `SubagentTask` document. Retrieved via `GET /subagents/{id}/response`.

  contact:
    name: API Support
  license:
    name: MIT

servers:
  - url: https://api.apifunnel.ai/v1
    description: Production
  - url: http://localhost:3001/v1
    description: Local development

security:
  - BearerAuth: []
  - BearerAuth: []
    AdminKeyAuth: []

tags:
  - name: Subagents
    description: |
      Observability and communication endpoints for dispatched subagents. Subagent lifecycle
      (create, cancel) is managed by top-level platform tools — this API provides read-only
      status, result retrieval, and follow-up messaging.
  - name: Video
    description: |
      Deterministic video utility endpoints. Pure infrastructure — no LLM, no
      reasoning, no inference. These endpoints handle video download, caption
      extraction, and transcription as standalone operations. Use them directly
      when you need video data without an agent opinion, or let the agent node
      (`/subagents/one-shot`) call them internally for full multimodal analysis.
  - name: Notifications
    description: |
      Generic, source-agnostic notification service backed by Firestore. Any event source
      (subagent completion, Slack message, webhook, scheduled task) can push a notification.
      The primary agent's ReAct loop consumes pending notifications as system messages.
      The browser receives them in real-time via Firestore `onSnapshot` listeners.

paths:
  # ── Subagents ──

  /subagents:
    get:
      operationId: listSubagents
      summary: List all subagents for the authenticated user
      description: |
        Returns all subagent tasks for the authenticated user, sorted by creation time
        (most recent first). Includes current status, progress summary, and metadata.

        Use this to display a dashboard of all subagent activity. The `status` field
        tells you whether each agent is still running, completed, failed, or was cancelled.

        Tasks with `response_consumed: false` and `status: "completed"` have unread results
        available via `GET /subagents/{id}/response`.

        Supports pagination via `cursor` and `limit` query parameters. The `cursor` is
        the `task_id` of the last item in the previous page.
      tags: [Subagents]
      parameters:
        - name: status
          in: query
          required: false
          description: |
            Filter by task status. If omitted, returns all statuses.
            Use `running` to find active agents, `completed` to find agents with results.
          schema:
            type: string
            enum: [queued, running, completed, failed, cancelled]
        - name: limit
          in: query
          required: false
          description: |
            Maximum number of tasks to return per page. Default 20, max 100.
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          required: false
          description: |
            Pagination cursor. Pass the `task_id` of the last item from the previous page
            to get the next page. Omit for the first page.
          schema:
            type: string
      responses:
        '200':
          description: List of subagent tasks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSubagentsResponse'
              example:
                tasks:
                  - task_id: "sa_1711234567_abc123"
                    thread_id: "thread_1711234567_sf1"
                    label: "Research Salesforce"
                    status: "running"
                    progress:
                      turn: 3
                      max_turns: 30
                      message: "Searching Tavily for Salesforce Enterprise pricing..."
                      updated_at: "2026-03-29T14:31:15.000Z"
                    response_consumed: false
                    created_at: "2026-03-29T14:30:00.000Z"
                    started_at: "2026-03-29T14:30:01.000Z"
                    completed_at: null
                  - task_id: "sa_1711234000_def456"
                    thread_id: "thread_1711234000_hs1"
                    label: "Research HubSpot"
                    status: "completed"
                    progress:
                      turn: 8
                      max_turns: 30
                      message: "Completed."
                      updated_at: "2026-03-29T14:28:45.000Z"
                    response_consumed: false
                    created_at: "2026-03-29T14:25:00.000Z"
                    started_at: "2026-03-29T14:25:01.000Z"
                    completed_at: "2026-03-29T14:28:45.000Z"
                has_more: false
                next_cursor: null
        '401':
          $ref: '#/components/responses/Unauthorized'

  /subagents/headless_reasoning_action_with_tools:
    post:
      operationId: dispatchHeadlessReasoningActionWithTools
      summary: Dispatch a headless ReAct subagent (async)
      description: |
        Async dispatch of a full headless subagent running the
        reasoning–action-with-tools (ReAct) loop. Creates a task row, kicks off
        the runner in the background, and returns `task_id` immediately.

        Use `GET /subagents/{id}` to poll status and
        `GET /subagents/{id}/response` to fetch the final answer once complete.

        This route is the canonical dispatch path. `POST /subagents` remains
        as a legacy alias for backwards compatibility.

        **Pre-commitment**: Based on a completed dry run of this task, the
        assistant should be able to confirm: the task succeeded end-to-end, the
        instructions were sufficient, the resource budget was not near its limit,
        and any lessons from that run have been folded into the message before
        this dispatch.
      tags: [Subagents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchSubagentRequest'
      responses:
        '200':
          description: Subagent task created and running in the background.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchSubagentResponse'
        '400':
          description: Missing or malformed `message` field.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          description: Caller has reached the maximum number of concurrent running tasks.

  /subagents/one-shot:
    post:
      operationId: oneShotAgent
      summary: Multimodal agent node — stateless, single-turn LLM inference over text, images, and video
      description: |
        **Multimodal agent node for on-demand inference.** This endpoint is
        a stateless, composable unit of LLM inference. It accepts a prompt
        with optional media (text, images, video, or any combination),
        executes one LLM turn, and returns a structured result.

        It works in two modes:

        - **Standalone / on-demand** — Call it directly for real-time,
          interactive inference. A user pastes a YouTube URL and asks
          "what is this video about?" — the response comes back in seconds.
          No workflow, no orchestration, no setup. Single-shot inference
          whenever you need it.

        - **Embedded in workflows** — Drop it into any agentic pipeline,
          reasoning graph, DAG, or sequential chain as a single inference
          node. The orchestrator controls sequencing, branching, and memory.
          This node owns no state and has no side effects — it just
          executes one turn and returns.

        Either way, the contract is the same: prompt in, structured
        result out.

        ### Supported modalities

        - **Text only** — classification, summarization, extraction,
          evaluation, judgment calls, structured data generation
        - **Text + images** — visual QA, screenshot analysis, UI review,
          document understanding, diagram interpretation, before/after
          comparison
        - **Text + video** — video summarization, content review, tutorial
          analysis, meeting recap, visual event detection, timestamped
          segment extraction
        - **Any combination** — e.g., "Compare this screenshot to what is
          shown at the 2-minute mark in this video"

        ### Media handling

        The caller sends a `prompt` (required) and an optional `media` array.
        Each media item has a `url` and a `type` (MIME type). The agent node
        inspects the media and routes accordingly:

        - **`image/*`** — Passed directly to the LLM provider as a vision
          input. No server-side processing. The model sees the image as-is.

        - **`video/*`** or **known video host URL** (YouTube) — The agent
          node runs a preprocessing pipeline automatically:
          1. Downloads the video via yt-dlp
          2. Extracts key frames via ffmpeg (10–100 frames, scaled to 720p)
          3. Pulls captions from the video source (or transcribes audio via
             Whisper if no captions are available)
          4. Builds a multimodal prompt: transcript → frames interleaved
             with timestamps → caller's prompt
          5. Sends the assembled content to the LLM provider

          The caller does not need to handle any of this. The video pipeline
          is entirely server-side. Whisper transcription keys are
          server-supplied. Prompt + URL in, structured analysis out.

        ### Provider selection

        Provider is inferred from the `model` prefix:
          - `gpt-*`, `o1*`, `o3*`, `o4*` → OpenAI
          - `claude-*` → Anthropic
          - `gemini-*` → Google

        The caller's JWT must carry `api_settings.<provider>.api_key` for
        the inferred provider, or the endpoint returns 400.

        ### Agent node characteristics

        - **Stateless** — no threads, no memory, no task rows. Every call
          is independent. No setup, no teardown.
        - **Synchronous** — the response is returned in the same HTTP call.
          Real-time, interactive use is a first-class use case.
        - **Composable** — can be invoked standalone or embedded in any
          orchestrator, workflow engine, or agent framework as a single
          inference step.
        - **Deterministic preprocessing** — all media handling (download,
          frame extraction, transcription) is deterministic infrastructure.
          The only non-deterministic step is the LLM inference itself.
      tags: [Subagents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneShotRequest'
            examples:
              text_classification:
                summary: "Text only — single-word classification"
                value:
                  prompt: "Classify this customer message as refund-request, complaint, or other. Respond with one word only: 'refund is unacceptable, I want my money back'."
                  model: "gpt-4o-mini"
                  max_tokens: 10
              text_summarization:
                summary: "Text only — summarization with Anthropic"
                value:
                  prompt: "Summarize the EU AI Act high-risk criteria in 3 bullets."
                  model: "claude-sonnet-4-20250514"
                  max_tokens: 300
              image_analysis:
                summary: "Image — UI screenshot judgment"
                value:
                  prompt: "Does this screenshot show a login form or a dashboard? Describe the key UI elements you see and their layout."
                  model: "claude-sonnet-4-20250514"
                  media:
                    - url: "https://example.com/screenshot.png"
                      type: "image/png"
                  max_tokens: 500
              video_analysis:
                summary: "Video — deep analysis of a YouTube video"
                value:
                  prompt: |
                    Review this video and provide:
                    1. A one-paragraph summary of the overall topic
                    2. A timestamped list of each distinct topic or segment discussed, with the approximate time range and a brief description
                    3. Any tools, products, or technologies mentioned by name
                    4. Key claims or recommendations made by the presenter
                    5. Whether the presenter demonstrates anything on screen — if so, describe what is shown and at what timestamps
                  model: "gpt-4o-mini"
                  media:
                    - url: "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                      type: "video/mp4"
                  max_tokens: 4096
              multi_image_comparison:
                summary: "Multiple images — before/after comparison"
                value:
                  prompt: "Compare these two screenshots. What changed between the before and after? List every visible difference."
                  model: "gpt-4o-mini"
                  media:
                    - url: "https://example.com/before.png"
                      type: "image/png"
                    - url: "https://example.com/after.png"
                      type: "image/png"
                  max_tokens: 1024
      responses:
        '200':
          description: |
            LLM completion returned. The `text` field contains the model's
            response. The `tokens` object reports usage. The `model` field
            is the exact model identifier the provider reported (which may
            differ from the requested model due to aliasing). The `provider`
            field confirms which provider handled the call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneShotResponse'
              examples:
                text_response:
                  summary: "Text classification result"
                  value:
                    text: "refund-request"
                    tokens: { input: 42, output: 1, total: 43 }
                    model: "gpt-4o-mini-2024-07-18"
                    provider: "openai"
                video_response:
                  summary: "Video analysis result"
                  value:
                    text: |
                      ## Summary
                      The video is a walkthrough of building a video analysis skill for AI assistants using yt-dlp and ffmpeg...

                      ## Timestamped Segments
                      - **0:00–1:30** — Introduction and motivation for the project
                      - **1:30–4:00** — Setting up yt-dlp and ffmpeg locally
                      - **4:00–7:15** — Frame extraction strategy and cost optimization
                      - **7:15–9:00** — Whisper transcription fallback
                      - **9:00–10:30** — Live demo and results

                      ## Tools & Technologies Mentioned
                      - yt-dlp, ffmpeg, Whisper, Claude, OpenAI API

                      ## Key Claims
                      - Frame capping keeps token cost flat regardless of video length
                      - Free YouTube captions eliminate the need for paid transcription in most cases

                      ## On-Screen Demonstrations
                      - **4:15** — Terminal showing ffmpeg frame extraction command
                      - **8:30** — Side-by-side of extracted frames and transcript alignment
                    tokens: { input: 52215, output: 847, total: 53062 }
                    model: "gpt-4o-mini-2024-07-18"
                    provider: "openai"
        '400':
          description: |
            Missing `prompt`, missing API key for the inferred provider,
            unsupported model, invalid video URL (`invalid_video_url`), or
            video exceeds max duration of 4 hours (`video_too_long`).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: |
            Video is unavailable (`video_unavailable`) — private, deleted, or
            geo-restricted. Or no transcript source available
            (`transcript_unavailable`).
        '429':
          description: Upstream provider rate limit.
        '500':
          description: Upstream provider or internal error.
        '502':
          description: |
            Video processing failed (`video_processing_failed`) — ffmpeg or
            yt-dlp returned an error. Or Whisper transcription failed
            (`transcript_failed`).
        '504':
          description: |
            Video pipeline timed out (`video_timeout`) — download or frame
            extraction exceeded the time limit.

  /subagents/create-image:
    post:
      operationId: createImage
      summary: Generate an image from a text prompt using OpenAI gpt-image-2
      description: |
        **Image generation agent node.** Wraps OpenAI's `gpt-image-2` model as
        a stateless, single-shot image generation endpoint. Accepts a text prompt,
        generates an image, and returns it as base64-encoded data.

        Same auth flow as `/subagents/one-shot` — the user's OpenAI key is
        extracted from `api_settings` on the JWT. Falls back to the server's
        `WHISPER_OPENAI_API_KEY` for local development.

        The response shape (`base64`, `content_type`, `size_bytes`) mirrors the
        lakehouse asset view endpoints, so downstream consumers (assistant,
        lakehouse upload) can handle the output identically.

        ### Agent node characteristics

        - **Stateless** — no threads, no memory, no task rows.
        - **Synchronous** — the generated image is returned in the same HTTP call.
        - **Composable** — can be invoked standalone or embedded in any workflow.
        - **OpenAI-only** — always uses `gpt-image-2`. No provider routing.
      tags: [Subagents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageRequest'
            examples:
              simple:
                summary: "Simple image generation"
                value:
                  prompt: "A watercolor painting of a mountain lake at sunrise"
              detailed:
                summary: "With size, quality, and format options"
                value:
                  prompt: "A minimalist line drawing of a cat sitting on a windowsill"
                  size: "1024x1536"
                  quality: "high"
                  output_format: "png"
      responses:
        '200':
          description: |
            Image generated successfully. The `base64` field contains the
            base64-encoded image bytes. The `content_type` and `size_bytes`
            fields describe the output. `revised_prompt` is the prompt that
            OpenAI actually used (may differ from the input prompt).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageResponse'
              example:
                base64: "<base64-encoded image bytes>"
                content_type: "image/png"
                size_bytes: 234567
                revised_prompt: "A watercolor painting of a serene mountain lake at sunrise with soft pink and gold light reflecting on the water."
                model: "gpt-image-2"
                provider: "openai"
        '400':
          description: |
            Missing `prompt` or no OpenAI API key available (`missing_api_key`).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: |
            OpenAI rejected the request — content policy violation or invalid
            parameters.
        '500':
          description: Upstream provider or internal error.

  /subagents/{id}:
    get:
      operationId: getSubagentStatus
      summary: Get subagent status and metadata
      description: |
        Returns the current status, progress, and metadata for a specific subagent task.
        This does NOT return the full response — use `GET /subagents/{id}/response`
        for that.

        The `progress` object is updated in real-time from Firestore. It shows the current
        turn number, the max allowed turns, and a human-readable description of what the
        agent is currently doing.

        If `status` is `"failed"`, the `error` field contains a description of what went wrong.
        If `status` is `"completed"` and `response_consumed` is `false`, the result is ready
        to be retrieved.
      tags: [Subagents]
      parameters:
        - $ref: '#/components/parameters/SubagentId'
      responses:
        '200':
          description: Subagent task details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubagentTask'
              examples:
                running:
                  summary: A subagent that is currently running
                  value:
                    task_id: "sa_1711234567_abc123"
                    thread_id: "thread_1711234567_sf1"
                    label: "Research Salesforce"
                    status: "running"
                    progress:
                      turn: 5
                      max_turns: 30
                      message: "Calling Notion API to check existing CRM comparison notes..."
                      updated_at: "2026-03-29T14:32:00.000Z"
                    response_consumed: false
                    error: null
                    persona_id: "cowork-enterprise"
                    parent_thread_id: "thread_primary_xyz"
                    tokens:
                      input: 12500
                      output: 3200
                      total: 15700
                    created_at: "2026-03-29T14:30:00.000Z"
                    started_at: "2026-03-29T14:30:01.000Z"
                    completed_at: null
                completed:
                  summary: A subagent that has completed with an unread response
                  value:
                    task_id: "sa_1711234567_abc123"
                    thread_id: "thread_1711234567_sf1"
                    label: "Research Salesforce"
                    status: "completed"
                    progress:
                      turn: 12
                      max_turns: 30
                      message: "Completed."
                      updated_at: "2026-03-29T14:35:00.000Z"
                    response_consumed: false
                    error: null
                    persona_id: "cowork-enterprise"
                    parent_thread_id: "thread_primary_xyz"
                    tokens:
                      input: 42000
                      output: 18000
                      total: 60000
                    created_at: "2026-03-29T14:30:00.000Z"
                    started_at: "2026-03-29T14:30:01.000Z"
                    completed_at: "2026-03-29T14:35:00.000Z"
                failed:
                  summary: A subagent that failed due to a missing integration
                  value:
                    task_id: "sa_1711234567_abc123"
                    thread_id: "thread_1711234567_sf1"
                    label: "Analyze Notion database"
                    status: "failed"
                    progress:
                      turn: 2
                      max_turns: 30
                      message: "Failed."
                      updated_at: "2026-03-29T14:30:30.000Z"
                    response_consumed: false
                    error: "Notion OAuth token not found. The user needs to connect Notion via the UI before this subagent can access Notion tools."
                    persona_id: null
                    parent_thread_id: null
                    tokens:
                      input: 2100
                      output: 400
                      total: 2500
                    created_at: "2026-03-29T14:30:00.000Z"
                    started_at: "2026-03-29T14:30:01.000Z"
                    completed_at: "2026-03-29T14:30:30.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /subagents/{id}/response:
    get:
      operationId: getSubagentResponse
      summary: Get full subagent task outputs (paginated thread)
      description: |
        Returns the complete subagent journey — every message, tool call, tool result,
        and reasoning step from the conversation thread — with stateless pagination.

        The `{id}` path parameter is matched as a `task_id` first, then as a `thread_id`
        if no task is found. Alternatively, pass `?thread_id=xxx` to look up explicitly
        by thread ID.

        **Pagination**: The `messages` array is a paginated window over the full thread.
        Use `offset` and `limit` query parameters to page through. The `pagination` object
        in the response tells you the total message count and whether more pages exist.
        Default page size is 50, maximum is 200.

        **The `response` field** is a convenience: the final deliverable text extracted
        from the `deliver_final_response` tool call in the thread, or `SubagentTask.result`
        as a fallback for older runs. No content is truncated.

        **Consume-on-read behavior**: The first call sets `response_consumed` to `true`
        on the `SubagentTask` document (atomic `findOneAndUpdate`). Subsequent calls still
        return the same data with no additional side effects.

        If the subagent is still `running`, this returns `409 Conflict` with progress.
        Poll `GET /subagents/{id}` for status updates.
      tags: [Subagents]
      parameters:
        - $ref: '#/components/parameters/SubagentId'
        - name: thread_id
          in: query
          required: false
          description: |
            Alternative lookup by thread ID. When provided, the `{id}` path parameter
            is ignored and the task is looked up by its `thread_id` instead. Useful when
            the caller has a thread reference but not the task ID.
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: |
            Number of messages to skip from the start of the thread. Used for stateless
            pagination. Default 0.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          required: false
          description: |
            Maximum number of messages to return in this page. Default 50, max 200.
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: include_lessons_learned
          in: query
          required: false
          description: |
            Include full lessons learned from this run. When `false` (default), the
            `lessons_learned` block is still present in every response but long text
            fields are truncated to 100 characters. When `true`, all fields are
            returned verbatim with no truncation. Lessons include the structured
            assessment, error resolutions, API server observations, efficiency
            findings, and recommended server changes recorded during the run.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: |
            Full subagent task outputs. The `messages` array contains the paginated window
            of the conversation thread. The `response` field is the final deliverable.
            The `pagination` object provides total count and paging metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubagentResponsePayload'
              examples:
                first_page:
                  summary: First page of a completed subagent's thread
                  value:
                    task_id: "sa_1711234567_abc123"
                    thread_id: "thread_1711234567_sf1"
                    label: "Research Salesforce"
                    status: "completed"
                    response: "I researched Salesforce Enterprise pricing for a 50-person team..."
                    response_consumed: true
                    assessment:
                      status: "success"
                      summary: "Retrieved and compared Salesforce pricing tiers for a 50-person team."
                    tokens:
                      input: 42000
                      output: 18000
                      total: 60000
                    turns_used: 12
                    max_turns: 30
                    created_at: "2026-03-29T14:30:00.000Z"
                    completed_at: "2026-03-29T14:35:00.000Z"
                    delivered_at: "2026-03-29T14:36:00.000Z"
                    messages:
                      - role: "user"
                        content: "Research Salesforce Enterprise pricing for a 50-person team."
                      - role: "assistant"
                        content: "I'll search for the latest Salesforce pricing information."
                        tool_calls:
                          - id: "tc_001"
                            type: "function"
                            function:
                              name: "tavily_search"
                              arguments: "{\"query\": \"Salesforce Enterprise pricing 2026 per user\"}"
                      - role: "tool"
                        tool_call_id: "tc_001"
                        content: "[Search results with pricing data...]"
                    pagination:
                      offset: 0
                      limit: 50
                      total: 127
                      has_more: true
                second_page:
                  summary: Second page via ?offset=50&limit=50
                  value:
                    task_id: "sa_1711234567_abc123"
                    thread_id: "thread_1711234567_sf1"
                    label: "Research Salesforce"
                    status: "completed"
                    response: "I researched Salesforce Enterprise pricing for a 50-person team..."
                    response_consumed: true
                    assessment: null
                    tokens:
                      input: 42000
                      output: 18000
                      total: 60000
                    turns_used: 12
                    max_turns: 30
                    created_at: "2026-03-29T14:30:00.000Z"
                    completed_at: "2026-03-29T14:35:00.000Z"
                    delivered_at: "2026-03-29T14:36:00.000Z"
                    messages:
                      - role: "assistant"
                        content: "Now I'll compare these prices with competitor offerings."
                        tool_calls:
                          - id: "tc_015"
                            type: "function"
                            function:
                              name: "tavily_search"
                              arguments: "{\"query\": \"HubSpot CRM pricing vs Salesforce 2026\"}"
                      - role: "tool"
                        tool_call_id: "tc_015"
                        content: "[Comparison search results...]"
                    pagination:
                      offset: 50
                      limit: 50
                      total: 127
                      has_more: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Subagent has not completed yet. The response is not available. Poll
            `GET /subagents/{id}` for status and progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "not_completed"
                message: "Subagent is still running. Poll GET /subagents/sa_1711234567_abc123 for progress."
                task_id: "sa_1711234567_abc123"
                status: "running"
                progress:
                  turn: 5
                  max_turns: 30

  /subagents/{id}/message:
    post:
      operationId: sendSubagentMessage
      summary: Send a follow-up message to a subagent's thread
      description: |
        Appends a new user message to an existing subagent's conversation thread and
        launches a new ReAct loop iteration. This reuses the same `thread_id`, so the
        subagent has full context of the prior conversation.

        This is fire-and-forget, same as `POST /subagents`. The subagent runs
        asynchronously. A new notification will be pushed to Firestore when this
        follow-up iteration completes.

        **Use case**: The primary agent retrieves a subagent's response, decides it needs
        more detail, and sends a follow-up: "Now compare those tiers to HubSpot's pricing."

        The subagent's status is reset to `running` (or `queued`) and `response_consumed`
        is reset to `false` since a new response will be generated.

        The `max_turns` for this follow-up iteration defaults to the value set when the
        subagent was created. Override with the `max_turns` field in the request body.

        **Requires**: The subagent must be in `completed` or `failed` status. You cannot
        send a follow-up to a `running` or `queued` subagent (use `DELETE` to cancel
        first, then re-create).
      tags: [Subagents]
      parameters:
        - $ref: '#/components/parameters/SubagentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
            example:
              message: "Now compare those Salesforce tiers to HubSpot's pricing for the same team size."
              max_turns: 20
      responses:
        '200':
          description: |
            Follow-up message queued. The subagent will resume with the new message
            appended to its existing thread. A new notification will be pushed on
            completion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
              example:
                task_id: "sa_1711234567_abc123"
                thread_id: "thread_1711234567_sf1"
                status: "queued"
                message: "Follow-up message queued. The subagent will process it with full conversation context."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Subagent is still running. Cannot send a follow-up to a running subagent.
            Cancel it first with `DELETE /subagents/{id}`, then retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "still_running"
                message: "Subagent is still running. Cancel it first with DELETE /subagents/sa_1711234567_abc123, then retry."
                task_id: "sa_1711234567_abc123"
                status: "running"

  # ── Video ──

  /video/transcript:
    get:
      operationId: getVideoTranscript
      summary: Extract timestamped transcript from a video URL
      description: |
        **Pure infrastructure — no LLM involved.** Extracts a timestamped
        transcript from a YouTube video URL. Returns the transcript as
        plain text with `HH:MM:SS` timestamps.

        ### How it works

        1. Probes the video for metadata (duration, availability)
        2. Attempts to pull embedded captions from the video source
        3. If no captions are available, falls back to Whisper speech-to-text
           transcription (Groq first, then OpenAI)
        4. Returns the timestamped transcript with source metadata

        ### When to use this vs the agent node

        - **This endpoint** — You need the raw transcript text. No reasoning,
          no summarization, no analysis. Fast, cheap, deterministic.
        - **`POST /subagents/one-shot`** — You need an LLM to reason over the
          video content (summarize, analyze, extract insights, answer questions).
          The agent node calls this transcript logic internally as part of its
          video preprocessing pipeline.

        ### Cost

        - **Captions available**: Near-zero. Just an HTTP call to YouTube.
          No video download, no Whisper API call.
        - **Whisper fallback**: Requires downloading the video and calling the
          Whisper API. Server-supplied keys — no cost to the caller.
      tags: [Video]
      parameters:
        - name: url
          in: query
          required: true
          description: |
            YouTube video URL. Supports standard watch URLs, short URLs
            (`youtu.be/...`), and Shorts URLs.
          schema:
            type: string
          examples:
            standard:
              value: "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
              summary: Standard YouTube watch URL
            short:
              value: "https://youtu.be/dQw4w9WgXcQ"
              summary: Short URL format
      responses:
        '200':
          description: Transcript extracted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptResponse'
              examples:
                captions:
                  summary: Transcript from embedded captions
                  value:
                    url: "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                    source: "captions"
                    duration_seconds: 212
                    transcript: |
                      00:00:00 We're no strangers to love
                      00:00:03 You know the rules and so do I
                      00:00:07 A full commitment's what I'm thinking of
                      00:00:10 You wouldn't get this from any other guy
                whisper:
                  summary: Transcript from Whisper fallback
                  value:
                    url: "https://www.youtube.com/watch?v=example123"
                    source: "whisper"
                    duration_seconds: 516
                    transcript: |
                      00:00:00 Hey everyone, welcome back to the channel.
                      00:00:04 Today we're going to look at how to build
                      00:00:07 a video analysis pipeline using yt-dlp and ffmpeg.
        '400':
          description: |
            Missing `url` query parameter (`missing_url`), invalid URL format
            (`invalid_video_url`), or video exceeds 4-hour max (`video_too_long`).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: |
            Video is unavailable (`video_unavailable`) — private, deleted, or
            geo-restricted. Or no transcript source available
            (`transcript_unavailable`) — no captions and no Whisper key configured.
        '502':
          description: |
            Whisper transcription failed (`transcript_failed`) or video
            processing failed (`video_processing_failed`).
        '504':
          description: |
            Video download timed out (`video_timeout`).

  # ── Notifications ──

  /notifications:
    post:
      operationId: pushNotification
      summary: Push a notification to a user's notification queue
      description: |
        Writes a notification to the user's Firestore pending queue. The notification
        will be picked up by the primary agent's ReAct loop at the next iteration
        boundary (as a system message) and/or pushed to the browser in real-time via
        Firestore `onSnapshot`.

        This endpoint is the HTTP interface for pushing notifications. It is used by:
        - External webhook ingestion handlers (after verifying signatures)
        - Scheduled task runners
        - Any server-side process that cannot write to Firestore directly

        The subagent runner writes to Firestore directly (server-side Firebase Admin SDK),
        so it does NOT use this endpoint. This endpoint exists for sources that only
        speak HTTP.

        **Security**: All endpoints require Bearer JWT. The JWT identifies the caller
        and the target user. No anonymous writes. Per-type origin validation (e.g.,
        verifying subagent task ownership) can be added later if needed.
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushNotificationRequest'
            examples:
              subagent_completed:
                summary: Subagent completion notification
                value:
                  type: "subagent.completed"
                  source: "subagent:sa_1711234567_abc123"
                  priority: "normal"
                  summary: "Subagent 'Research Salesforce' completed successfully."
                  payload_ref: "sa_1711234567_abc123"
                  payload_url: "/subagents/sa_1711234567_abc123/response"
              subagent_failed:
                summary: Subagent failure notification
                value:
                  type: "subagent.failed"
                  source: "subagent:sa_1711234567_def456"
                  priority: "high"
                  summary: "Subagent 'Analyze Notion DB' failed: Notion not connected."
                  payload_ref: "sa_1711234567_def456"
                  payload_url: "/subagents/sa_1711234567_def456"
              webhook:
                summary: External webhook notification (future)
                value:
                  type: "webhook.received"
                  source: "webhook:github"
                  priority: "normal"
                  summary: "GitHub: PR #42 merged into main by @jane."
                  payload_ref: "gh_webhook_abc"
                  payload_url: null
              slack:
                summary: Slack message notification (future)
                value:
                  type: "slack.message"
                  source: "slack:C04ABCDEF"
                  priority: "normal"
                  summary: "New message in #general from @jane: 'Can you review the Q3 budget?'"
                  payload_ref: null
                  payload_url: null
      responses:
        '201':
          description: Notification created and written to Firestore.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushNotificationResponse'
              example:
                notification_id: "notif_1711234800_a1b2c3d4"
                created_at: "2026-03-29T14:40:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listPendingNotifications
      summary: List pending notifications for the authenticated user
      description: |
        Returns all pending (undelivered) notifications for the authenticated user,
        sorted by creation time (oldest first). These are notifications that have not
        yet been consumed by the ReAct loop.

        This endpoint reads from Firestore (`/notifications/{userId}/pending/*`).

        **Note**: The browser UI typically uses Firestore `onSnapshot` directly for
        real-time updates. This HTTP endpoint exists for server-side consumers or
        debugging purposes.
      tags: [Notifications]
      parameters:
        - name: type
          in: query
          required: false
          description: |
            Filter by notification type. If omitted, returns all types.
            Supports prefix matching: `subagent` matches `subagent.completed`,
            `subagent.failed`, etc.
          schema:
            type: string
          examples:
            subagent:
              value: "subagent"
              summary: All subagent-related notifications
            specific:
              value: "subagent.completed"
              summary: Only completed subagent notifications
        - name: limit
          in: query
          required: false
          description: Maximum number of notifications to return. Default 50, max 200.
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
      responses:
        '200':
          description: List of pending notifications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotificationsResponse'
              example:
                notifications:
                  - notification_id: "notif_1711234800_a1b2c3d4"
                    type: "subagent.completed"
                    source: "subagent:sa_1711234567_abc123"
                    priority: "normal"
                    summary: "Subagent 'Research Salesforce' completed successfully."
                    payload_ref: "sa_1711234567_abc123"
                    payload_url: "/subagents/sa_1711234567_abc123/response"
                    created_at: "2026-03-29T14:40:00.000Z"
                  - notification_id: "notif_1711234900_e5f6g7h8"
                    type: "subagent.failed"
                    source: "subagent:sa_1711234567_def456"
                    priority: "high"
                    summary: "Subagent 'Analyze Notion DB' failed: Notion not connected."
                    payload_ref: "sa_1711234567_def456"
                    payload_url: "/subagents/sa_1711234567_def456"
                    created_at: "2026-03-29T14:41:00.000Z"
                count: 2
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/{id}/ack:
    post:
      operationId: acknowledgeNotification
      summary: Manually acknowledge (consume) a notification
      description: |
        Marks a specific notification as delivered and **deletes it from Firestore**.
        This is the manual equivalent of what happens automatically when the ReAct loop
        consumes notifications via `consumePendingNotifications()`.

        **Use case**: The browser UI shows a notification in the Notification Panel.
        The user clicks "Dismiss" or "Inject into chat." The UI calls this endpoint to
        remove the notification from the pending queue so it doesn't get re-injected
        into the next ReAct loop iteration.

        If the notification has already been consumed or does not exist, this is a
        no-op — returns 200 with `already_consumed: true`.
      tags: [Notifications]
      parameters:
        - name: id
          in: path
          required: true
          description: |
            The notification ID (e.g., `notif_1711234800_a1b2c3d4`). This is the `notification_id`
            returned by `POST /notifications` or `GET /notifications`.
          schema:
            type: string
          example: "notif_1711234800_a1b2c3d4"
      responses:
        '200':
          description: Notification acknowledged (deleted from Firestore).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcknowledgeNotificationResponse'
              examples:
                consumed:
                  summary: Notification successfully consumed
                  value:
                    notification_id: "notif_1711234800_a1b2c3d4"
                    acknowledged: true
                    already_consumed: false
                already_consumed:
                  summary: Notification was already consumed (no-op)
                  value:
                    notification_id: "notif_1711234800_a1b2c3d4"
                    acknowledged: true
                    already_consumed: true
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    AdminKeyAuth:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: |
        Service-to-service authentication key. Required when calling from the MCP bridge
        or other internal services. The key is validated against the MCP_ADMIN_KEY
        environment variable.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token from the main web app's authentication system. Contains `sub` (user ID),
        `email`, and `name` claims. Used alongside AdminKeyAuth for user identity.

        For programmatic / non-browser access, use a Personal Access Token (PAT) in the
        same Bearer format.

  parameters:
    SubagentId:
      name: id
      in: path
      required: true
      description: |
        The subagent task ID (e.g., `sa_1711234567_abc123`). This is the `task_id` returned
        by `POST /subagents` when the subagent was created.
      schema:
        type: string
      example: "sa_1711234567_abc123"

  schemas:
    # ── Subagent Request Schemas ──

    DispatchSubagentRequest:
      type: object
      required: [message]
      description: Request body for dispatching a headless ReAct subagent.
      properties:
        message:
          type: string
          description: |
            The complete instruction set for the subagent. This single string is the
            agent's entire starting context — it becomes the first `user` turn in the
            ReAct loop. There is no human available to answer clarifying questions once
            the run starts. Everything the agent needs to do its job must be here.

            **Write it like a senior engineer handing off a task to an autonomous
            contractor who has never worked on this project before.**

            ---

            ### Structure that works well

            A high-quality message typically includes these sections (adapt as needed):

            **1. Objective** — One or two sentences stating the exact goal and the
            expected deliverable. Be specific: "Return a JSON object with fields X, Y, Z"
            is better than "summarize the data."

            **2. Context** — What the agent needs to know up-front: relevant IDs, URLs,
            record names, date ranges, prior run results, or any state that would
            otherwise require a lookup the agent has no way to perform.

            **3. Constraints & preferences** — Hard rules the agent must follow. Examples:
            do not modify production data, prefer API X over API Y for this data type,
            stop and report if the record count exceeds N, write output in markdown.

            **4. Acceptance criteria** — How the agent (and you) will know the task is
            done. A checklist is ideal. The agent uses this to decide when to call
            `deliver_final_response`.

            **5. On-failure guidance** — What to do if a step fails or returns unexpected
            data. Should it retry, skip, or report partial results? An agent that hits an
            unexpected 404 and has no guidance will burn turns guessing.

            ---

            ### Learnings from running these autonomously

            - **Be explicit about IDs and record names.** The agent cannot ask "which
              project did you mean?" — it will guess or fail. Paste the exact ID or slug.

            - **State the output format up front.** If you want a markdown table, a JSON
              blob, a numbered list, or a prose summary, say so. The agent defaults to
              prose if not told otherwise.

            - **Mention which API servers to use when it matters.** The agent has access
              to whatever servers are enabled on your account. If there are two plausible
              tools for a step, naming the preferred one eliminates a branching decision
              and saves turns.

            - **Do not rely on the agent to discover preconditions.** If a step requires
              an OAuth connection, a specific environment variable, or a file to exist,
              verify those preconditions before dispatching. The agent will spend turns
              discovering the gap and may fail instead of skipping.

            - **Turn budget is real.** Default is 30 turns, hard max 50. Each tool call
              is a turn. A task that requires 10 API calls plus summarization needs a
              `max_turns` budget that accounts for retries and reasoning steps. Vague
              tasks that require exploration can easily exhaust the budget before reaching
              the deliverable.

            - **The label defaults to the first 60 characters of this field.** If you
              need a human-readable dashboard label that differs from the opening line of
              your instructions, set `label` explicitly.

            - **The agent has no memory of prior runs by default.** If a prior run
              produced a result you want this run to build on, include the relevant
              excerpts directly in this message. Do not assume the agent will find them.

            - **Avoid open-ended research tasks without a stopping condition.** "Research
              everything about X" will run until turn cap. Add a stopping condition:
              "Stop after finding 5 sources" or "Stop once you have pricing for all three
              tiers."

            - **Error text that starts with `ERROR:` is treated as a task failure** by
              the runner. If you instruct the agent to emit structured error output,
              do not prefix it with `ERROR:` unless you intend that to mark the run
              as failed.

            ---

            ### Always do a dry run before scheduling

            Before committing a task to a recurring schedule, **run it once manually
            as a one-off dispatch** and let it complete. Treat that run as a dry run
            or soft run — a chance to confirm the task is correctly specified before
            it runs unattended on a schedule.

            A completed dry run tells you:

            - **Whether the task succeeds end-to-end** under real conditions — real
              API calls, real data, real auth tokens. Mocked logic never reveals the
              quota limits, pagination quirks, or schema surprises that only show up
              against production.

            - **Whether the turn budget is right.** Check `turns_used` on the
              completed task (`GET /subagents/{id}/response`). If the agent used 28
              of 30 turns, increase `max_turns` before scheduling. A scheduled run
              that hits the cap midway produces a partial, silent non-result.

            - **Whether the message is complete.** Dry-run failures are almost always
              caused by missing context in the message — an ambiguous ID, a missing
              constraint, a precondition the agent had to guess. Fix the message
              before you schedule, not after three failed overnight runs.

            - **Learnings the agent recorded.** After a completed run, retrieve
              `GET /subagents/{id}/response?include_lessons_learned=true` and read
              `lessons_learned`. The agent records which API servers it used, what
              errors it hit and how it resolved them, efficiency notes for the next
              run, and whether follow-up is needed. Feed any actionable findings back
              into the message before scheduling.

            - **The exact `label` to use.** The dry-run task appears in your dashboard
              with the auto-generated label. If it's not readable, set `label`
              explicitly on the scheduled dispatch.

            Dry runs are cheap — a task that costs 20 turns once costs 20 turns every
            scheduled run too. The difference is that a failed scheduled run produces
            nothing and notifies no one until you check. A failed dry run fails in
            front of you, right now, while you can act on it.

            ---

            ### Minimal example

            ```
            Objective: Fetch the current plan name and seat count for workspace ws_abc123
            from the Billing API and return them as a JSON object: {"plan": "...", "seats": N}.

            Context: The workspace ID is ws_abc123. Use the Billing API server.
            The response field that holds plan name is `subscription.plan.name` and
            seat count is `subscription.quantity`.

            Constraints: Read-only. Do not call any mutation endpoints.

            Acceptance criteria:
            - JSON object with "plan" (string) and "seats" (integer) is delivered.
            - If the workspace is not found, deliver {"error": "not_found"} instead
              of failing the run.
            ```

          example: |
            Objective: Fetch the current plan name and seat count for workspace ws_abc123
            from the Billing API and return them as JSON: {"plan": "...", "seats": N}.

            Context: workspace ID = ws_abc123. Use the Billing API server.
            Plan name is at subscription.plan.name; seat count at subscription.quantity.

            Constraints: read-only, no mutation endpoints.

            Acceptance criteria:
            - JSON object with "plan" and "seats" is delivered.
            - If workspace not found, deliver {"error": "not_found"} rather than failing.
        persona_id:
          type: string
          nullable: true
          description: |
            Persona to run the subagent as. Controls the system prompt injected at the
            start of the ReAct loop. Defaults to `cowork-enterprise`. Only change this
            if you need a persona with a different tool set or behavioral profile.
          example: "cowork-enterprise"
        max_turns:
          type: integer
          nullable: true
          minimum: 1
          maximum: 50
          description: |
            Cap on ReAct reasoning turns. Defaults to 30, hard-capped at 50.

            Each tool call consumes one turn. Budget conservatively: a task requiring
            10 API calls should have `max_turns` of at least 20 to allow for retries
            and reasoning steps between calls. If the agent hits the cap before calling
            `deliver_final_response`, the run completes with whatever partial output
            exists in the thread — it does NOT automatically fail, but the deliverable
            will be incomplete.
        label:
          type: string
          nullable: true
          description: |
            Short human-readable label shown in dashboards and notification summaries.
            Defaults to the first 60 characters of `message`. Set this explicitly when
            the opening line of your message is not a good dashboard label (e.g., when
            `message` starts with "Objective:" or a long context block).
          example: "Fetch billing plan for ws_abc123"
        execution_mode:
          type: string
          nullable: true
          description: |
            Execution mode passed through to the chat runner. Defaults to `autonomous`.
            In autonomous mode the agent runs without any human-in-the-loop checkpoints.
            Leave unset unless you have a specific runner mode to target.

    DispatchSubagentResponse:
      type: object
      required: [task_id, status, thread_id]
      properties:
        task_id:
          type: string
          example: "sa_1711234567_abc123"
        thread_id:
          type: string
          example: "thread_1711234567_abc123"
        status:
          type: string
          enum: [running]
        message:
          type: string
          example: "Task started. I'll notify you when it's done."
        label:
          type: string

    OneShotRequest:
      type: object
      required: [prompt]
      description: |
        Input to the multimodal agent node. Supports text-only, text +
        images, text + video, or any combination. The agent node handles
        all media preprocessing — the caller sends a prompt and URLs,
        the node returns structured inference output.
      properties:
        prompt:
          type: string
          description: |
            The instruction or question for the LLM. For text-only calls,
            this is the complete input. For multimodal calls, this is the
            question or task the model should perform on the provided media.
            Be specific — the more precise the prompt, the better the result.
          example: "Review this video and list the key topics discussed, with approximate timestamps."
        model:
          type: string
          nullable: true
          description: |
            LLM model id. Provider is inferred from the prefix
            (`gpt-*`/`o1*`/`o3*`/`o4*` → OpenAI, `claude-*` → Anthropic,
            `gemini-*` → Google). Defaults to `gpt-4o-mini`.
          example: "gpt-4o-mini"
        media:
          type: array
          nullable: true
          description: |
            Optional media attachments. `image/*` types are passed directly to
            the LLM provider for vision analysis. `video/*` types (or YouTube
            URLs) trigger the server-side video pipeline: download, frame
            extraction, transcript pull, and multimodal prompt construction.
          items:
            type: object
            required: [url, type]
            properties:
              url:
                type: string
                description: |
                  Publicly-reachable URL. For images, passed directly to the
                  provider. For video, the server downloads and preprocesses it.
                example: "https://example.com/screenshot.png"
              type:
                type: string
                description: |
                  MIME type. `image/*` for vision, `video/*` for video analysis.
                  For known video hosts (YouTube), the URL pattern is also used
                  for detection regardless of this field.
                example: "image/png"
        temperature:
          type: number
          nullable: true
          minimum: 0
          maximum: 2
          description: Sampling temperature. Omit for provider default.
        max_tokens:
          type: integer
          nullable: true
          minimum: 1
          description: Maximum output tokens. Omit for provider default (required by Anthropic — defaults to 1024 there).

    OneShotResponse:
      type: object
      required: [text, tokens, model, provider]
      description: |
        Output from the multimodal agent node. Contains the LLM's response
        text, token usage, the exact model identifier reported by the
        provider, and which provider handled the call.
      properties:
        text:
          type: string
          description: The LLM's response text.
        tokens:
          type: object
          required: [input, output, total]
          properties:
            input:  { type: integer }
            output: { type: integer }
            total:  { type: integer }
        model:
          type: string
          description: The exact model identifier the provider reported.
          example: "gpt-4o-mini-2024-07-18"
        provider:
          type: string
          enum: [openai, anthropic, google]

    CreateImageRequest:
      type: object
      required: [prompt]
      description: |
        Input to the image generation agent node. Accepts a text prompt and
        optional configuration for size, quality, and output format.
      properties:
        prompt:
          type: string
          description: |
            The text description of the image to generate. Be specific — the
            more detailed the prompt, the better the result.
          example: "A watercolor painting of a mountain lake at sunrise"
        size:
          type: string
          nullable: true
          enum: ["1024x1024", "1024x1536", "1536x1024"]
          default: "1024x1024"
          description: |
            Output image dimensions. `1024x1024` (square), `1024x1536`
            (portrait), or `1536x1024` (landscape).
        quality:
          type: string
          nullable: true
          enum: [low, medium, high]
          default: "high"
          description: Image generation quality level.
        output_format:
          type: string
          nullable: true
          enum: [png, webp, jpeg]
          default: "png"
          description: Output image format.

    CreateImageResponse:
      type: object
      required: [base64, content_type, size_bytes, model, provider]
      description: |
        Generated image output. The shape (`base64`, `content_type`,
        `size_bytes`) mirrors the lakehouse asset view endpoints for
        consistent downstream handling.
      properties:
        base64:
          type: string
          description: Base64-encoded image bytes.
        content_type:
          type: string
          description: MIME type of the generated image.
          example: "image/png"
        size_bytes:
          type: integer
          description: Size of the decoded image in bytes.
          example: 234567
        revised_prompt:
          type: string
          nullable: true
          description: |
            The prompt that OpenAI actually used for generation. May differ
            from the input prompt due to internal rewording.
        model:
          type: string
          description: The model used for generation.
          example: "gpt-image-2"
        provider:
          type: string
          enum: [openai]
          description: Always `openai` for image generation.

    TranscriptResponse:
      type: object
      required: [url, source, duration_seconds, transcript]
      description: |
        Timestamped transcript extracted from a video. The `source` field
        indicates whether the transcript came from embedded captions (free,
        fast) or Whisper speech-to-text (requires video download + API call).
      properties:
        url:
          type: string
          description: The video URL that was processed.
          example: "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        source:
          type: string
          enum: [captions, whisper]
          description: |
            Where the transcript came from:
            - `captions` — Embedded or auto-generated captions from the video source.
              Fast and free.
            - `whisper` — Speech-to-text transcription via Whisper API (Groq or OpenAI).
              Requires downloading the video audio. Used when captions are unavailable.
        duration_seconds:
          type: number
          description: Video duration in seconds.
          example: 516
        transcript:
          type: string
          description: |
            Timestamped transcript. Each line starts with `HH:MM:SS` followed
            by the spoken text at that timestamp. Lines are separated by newlines.
          example: |
            00:00:00 Hey everyone, welcome back to the channel.
            00:00:04 Today we're going to look at how to build
            00:00:07 a video analysis pipeline using yt-dlp.

    SendMessageRequest:
      type: object
      required: [message]
      properties:
        message:
          type: string
          description: |
            The follow-up message to send to the subagent. This is appended as a new
            user message to the existing conversation thread. The subagent will have
            full context of all prior messages in the thread when processing this.
          example: "Now compare those Salesforce tiers to HubSpot's pricing for the same team size."
        max_turns:
          type: integer
          nullable: true
          minimum: 1
          maximum: 50
          description: |
            Override the max turns for this follow-up iteration. If omitted, uses the
            value from the original subagent creation.

    # ── Subagent Response Schemas ──

    SubagentTask:
      type: object
      description: |
        Full representation of a subagent task. Stored in MongoDB. Progress updates
        come from Firestore (real-time) and are merged into this response.
      required: [task_id, thread_id, status, response_consumed, created_at]
      properties:
        task_id:
          type: string
          description: Unique task identifier.
          example: "sa_1711234567_abc123"
        thread_id:
          type: string
          description: Conversation thread ID in MongoDB.
          example: "thread_1711234567_sf1"
        label:
          type: string
          description: Human-readable task label.
          example: "Research Salesforce"
        status:
          type: string
          enum: [queued, running, completed, failed, cancelled]
          description: |
            Current task status:
            - `queued`: Created but ReAct loop has not started yet
            - `running`: ReAct loop is actively executing turns
            - `completed`: ReAct loop finished successfully. Response available via
              `GET /subagents/{id}/response`
            - `failed`: ReAct loop encountered an unrecoverable error. See `error` field
            - `cancelled`: Task was cancelled via `DELETE /subagents/{id}`
        progress:
          $ref: '#/components/schemas/SubagentProgress'
        response_consumed:
          type: boolean
          description: |
            Whether the response has been retrieved via `GET /subagents/{id}/response`.
            `false` means the result is unread. Useful for showing "unread" badges in the UI.
        error:
          type: string
          nullable: true
          description: |
            Error description if `status` is `"failed"`. Null otherwise. Contains a
            human-readable explanation of what went wrong (e.g., "Notion OAuth token not
            found", "Max turns exceeded without resolution", "API rate limit hit").
        persona_id:
          type: string
          nullable: true
          description: The persona ID used for this subagent's system prompt.
        parent_thread_id:
          type: string
          nullable: true
          description: |
            The thread ID of the primary conversation that spawned this subagent. Null
            if the subagent was created directly by the user (not from another agent).
        tokens:
          $ref: '#/components/schemas/TokenUsage'
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
          description: When the ReAct loop started. Null if still `queued`.
        completed_at:
          type: string
          format: date-time
          nullable: true
          description: When the task reached a terminal state. Null if still running.

    SubagentProgress:
      type: object
      nullable: true
      description: |
        Real-time progress from the subagent's ReAct loop. Updated every ~2 seconds
        via Firestore. The `message` field is a human-readable description of what the
        agent is currently doing (e.g., "Searching Tavily for pricing data...",
        "Calling Notion API...", "Summarizing findings...").
      properties:
        turn:
          type: integer
          description: Current turn number (1-indexed).
          example: 5
        max_turns:
          type: integer
          description: Maximum turns allowed for this subagent.
          example: 30
        message:
          type: string
          description: |
            Human-readable description of the agent's current activity. Updated at
            each turn. Shows "Completed." when done, "Failed." on error.
          example: "Searching Tavily for Salesforce Enterprise pricing..."
        updated_at:
          type: string
          format: date-time
          description: When this progress snapshot was last written.

    SubagentResponsePayload:
      type: object
      description: |
        Full subagent task outputs. Contains the task metadata envelope, the final
        deliverable text, the structured assessment, and a paginated window of the
        conversation thread messages (the entire subagent journey).
      required: [task_id, thread_id, status, response, response_consumed, tokens, max_turns, created_at, completed_at, messages, pagination]
      properties:
        task_id:
          type: string
          example: "sa_1711234567_abc123"
        thread_id:
          type: string
          example: "thread_1711234567_sf1"
        label:
          type: string
          example: "Research Salesforce"
        status:
          type: string
          enum: [completed, failed, cancelled]
          description: Terminal status of the subagent task.
        response:
          type: string
          nullable: true
          description: |
            The final deliverable text. Extracted from the `deliver_final_response`
            tool call content in the thread, or from `SubagentTask.result` for older
            runs. Never truncated. May contain markdown.
        response_consumed:
          type: boolean
          description: |
            `true` after the first retrieval. On the first call, this transitions from
            `false` to `true`. Subsequent calls return `true` with no additional side
            effects.
        assessment:
          type: object
          nullable: true
          description: |
            Structured assessment from `submit_run_assessment`, if the subagent called
            it. Contains status, summary, outputs, errors, and follow-up metadata.
        tokens:
          $ref: '#/components/schemas/TokenUsage'
        turns_used:
          type: integer
          nullable: true
          description: How many ReAct loop turns the subagent actually used.
          example: 12
        max_turns:
          type: integer
          description: The max turns limit that was set for this subagent.
          example: 30
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        delivered_at:
          type: string
          format: date-time
          nullable: true
          description: |
            When the response was first retrieved. Set on the first call to this
            endpoint. On subsequent calls, shows the original delivery timestamp.
        messages:
          type: array
          description: |
            Paginated window of the conversation thread. Contains messages in
            chronological order: user messages, assistant messages (with tool_calls),
            tool result messages, and system messages. Use `offset` and `limit` query
            parameters to page through the full thread. No individual message content
            is truncated.
          items:
            $ref: '#/components/schemas/ConversationMessage'
        lessons_learned:
          $ref: '#/components/schemas/LessonsLearned'
        pagination:
          $ref: '#/components/schemas/Pagination'

    LessonsLearned:
      type: object
      nullable: true
      description: |
        Lessons learned from this run, sourced from deterministic storage on the
        SubagentTask document. Includes the structured assessment summary, error
        resolutions, API server observations, efficiency findings, and recommended
        changes. Present in every paginated response. By default, long text fields
        are truncated to 100 characters; set `include_lessons_learned=true` to get
        the full untruncated data.
      properties:
        assessment_summary:
          type: string
          nullable: true
          description: Concise summary of what was accomplished.
        assessment_outputs:
          type: array
          nullable: true
          items:
            type: object
            properties:
              type: { type: string, enum: [data, action, report, notification] }
              description: { type: string }
              detail: { type: string }
        assessment_errors:
          type: array
          nullable: true
          items:
            type: object
            properties:
              description: { type: string }
              severity: { type: string, enum: [blocking, non_blocking] }
              attempted_resolution: { type: string }
        assumptions_made:
          type: array
          nullable: true
          items: { type: string }
        follow_up_needed:
          type: boolean
          nullable: true
        follow_up_reason:
          type: string
          nullable: true
        api_servers_used:
          type: array
          nullable: true
          items: { type: string }
          description: API servers used during this run.
        efficiency_status:
          type: string
          nullable: true
          enum: [improvement_found, no_further_tweaking_required]
        efficiency_next_run:
          type: string
          nullable: true
          description: What should change on the next run.
        errors_encountered:
          type: array
          nullable: true
          description: Detailed error learnings with resolutions.
          items:
            type: object
            properties:
              api_server: { type: string }
              error_description: { type: string }
              root_cause: { type: string }
              resolution: { type: string }
        api_server_observations:
          type: array
          nullable: true
          description: Non-obvious server-specific observations worth remembering.
          items:
            type: object
            properties:
              api_server: { type: string }
              observation: { type: string }
        recommended_api_servers:
          type: array
          nullable: true
          description: New API servers that would improve future runs.
          items:
            type: object
            properties:
              api_server: { type: string }
              reason: { type: string }
        run_history_review_status:
          type: integer
          nullable: true
          enum: [0, 1]
          description: 0 if run history was reviewed, 1 if skipped.
        learnings_recorded_at:
          type: string
          format: date-time
          nullable: true

    Pagination:
      type: object
      description: Stateless pagination metadata for paginated array responses.
      required: [offset, limit, total, has_more]
      properties:
        offset:
          type: integer
          description: Number of items skipped from the start.
          example: 0
        limit:
          type: integer
          description: Page size used for this request.
          example: 50
        total:
          type: integer
          description: Total number of items in the full collection.
          example: 127
        has_more:
          type: boolean
          description: Whether more items exist beyond this page.
          example: true

    SendMessageResponse:
      type: object
      required: [task_id, thread_id, status]
      properties:
        task_id:
          type: string
          description: Same task ID — the follow-up reuses the existing task.
          example: "sa_1711234567_abc123"
        thread_id:
          type: string
          description: Same thread ID — the message is appended to the existing thread.
          example: "thread_1711234567_sf1"
        status:
          type: string
          enum: [queued]
          description: Always `"queued"` — the follow-up fires-and-forgets.
        message:
          type: string
          description: Human-readable confirmation.
          example: "Follow-up message queued. The subagent will process it with full conversation context."

    ListSubagentsResponse:
      type: object
      required: [tasks, has_more]
      properties:
        tasks:
          type: array
          description: Array of subagent tasks, sorted by creation time (most recent first).
          items:
            $ref: '#/components/schemas/SubagentTask'
        has_more:
          type: boolean
          description: |
            `true` if there are more results beyond this page. Use the `task_id` of the
            last item as the `cursor` query parameter to fetch the next page.
        next_cursor:
          type: string
          nullable: true
          description: |
            The `task_id` to pass as the `cursor` parameter for the next page. Null if
            there are no more results.

    # ── Notification Schemas ──

    PushNotificationRequest:
      type: object
      required: [type, source, summary]
      properties:
        type:
          type: string
          description: |
            The event type. Extensible — any string is valid. Convention uses
            dot-separated namespaces: `subagent.completed`, `slack.message`,
            `webhook.received`, `schedule.completed`, etc.

            The notification service accepts any type string. No server-side
            validation on the type value itself — just JWT auth on the endpoint.
          example: "subagent.completed"
        source:
          type: string
          description: |
            Identifies the origin of the notification. Convention: `{type}:{identifier}`.
            Examples: `subagent:sa_abc123`, `slack:C04ABCDEF`, `webhook:github`,
            `schedule:sched_xyz`. Used for origin validation and UI grouping.
          example: "subagent:sa_1711234567_abc123"
        priority:
          type: string
          enum: [low, normal, high, urgent]
          default: "normal"
          description: |
            Notification priority. Affects UI presentation (badge color, sort order)
            and behavior:
            - `low`: Informational. No badge highlight.
            - `normal`: Standard notification. Badge count increments.
            - `high`: Emphasized in UI. May trigger a toast/sound.
            - `urgent`: If auto-mode is ON and no loop is running, this priority
              may auto-trigger a new ReAct loop turn.
        summary:
          type: string
          description: |
            Short, human-readable summary of the event. This text is injected into
            the primary agent's ReAct loop as part of a system message. Keep it
            concise (1-2 sentences). The agent can retrieve full details via
            `payload_url` if provided.
          example: "Subagent 'Research Salesforce' completed successfully."
        payload_ref:
          type: string
          nullable: true
          description: |
            An identifier for fetching the full content associated with this
            notification. For subagent notifications, this is the `task_id`. For
            other types, it could be a webhook event ID, a message ID, etc.
            Used for origin validation (e.g., verifying the referenced subagent
            task belongs to this user).
          example: "sa_1711234567_abc123"
        payload_url:
          type: string
          nullable: true
          description: |
            The API endpoint where the full content can be retrieved. Injected
            into the system message so the agent knows where to fetch details.
            Can be a relative path (resolved against the subagent API base URL)
            or an absolute URL.
          example: "/subagents/sa_1711234567_abc123/response"
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: |
            Optional expiration timestamp. If set, the notification is automatically
            considered expired after this time and will not be delivered to the ReAct
            loop. Default: no expiration (pending notifications persist indefinitely
            until consumed).

    PushNotificationResponse:
      type: object
      required: [notification_id, created_at]
      properties:
        notification_id:
          type: string
          description: |
            Unique identifier for the created notification. Use this ID to
            manually acknowledge the notification via
            `POST /notifications/{id}/ack`. The notification now exists in
            Firestore at `/notifications/{userId}/pending/{notification_id}`.
          example: "notif_1711234800_a1b2c3d4"
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the notification was created.

    ListNotificationsResponse:
      type: object
      required: [notifications, count]
      properties:
        notifications:
          type: array
          description: |
            Array of pending notifications, sorted by creation time (oldest first).
            Oldest first because the ReAct loop processes them in FIFO order.
          items:
            $ref: '#/components/schemas/AgentNotification'
        count:
          type: integer
          description: Total number of pending notifications returned.

    AgentNotification:
      type: object
      description: |
        A notification in the pending queue. Written to Firestore at
        `/notifications/{userId}/pending/{notificationId}`. Deleted from Firestore
        when consumed by the ReAct loop or manually acknowledged. Presence in the
        collection means pending. Absence means consumed. There is no "delivered"
        state in Firestore — the document is simply gone.
      required: [notification_id, type, source, priority, summary, created_at]
      properties:
        notification_id:
          type: string
          description: Unique notification identifier.
          example: "notif_1711234800_a1b2c3d4"
        type:
          type: string
          description: Event type (dot-separated namespace).
          example: "subagent.completed"
        source:
          type: string
          description: Origin identifier.
          example: "subagent:sa_1711234567_abc123"
        priority:
          type: string
          enum: [low, normal, high, urgent]
          example: "normal"
        summary:
          type: string
          description: Human-readable event summary.
          example: "Subagent 'Research Salesforce' completed successfully."
        payload_ref:
          type: string
          nullable: true
          description: Reference ID for fetching full content.
          example: "sa_1711234567_abc123"
        payload_url:
          type: string
          nullable: true
          description: API endpoint for full content retrieval.
          example: "/subagents/sa_1711234567_abc123/response"
        created_at:
          type: string
          format: date-time

    AcknowledgeNotificationResponse:
      type: object
      required: [notification_id, acknowledged]
      properties:
        notification_id:
          type: string
          example: "notif_1711234800_a1b2c3d4"
        acknowledged:
          type: boolean
          description: Always `true` — the operation is idempotent.
        already_consumed:
          type: boolean
          description: |
            `true` if the notification was already consumed (by the ReAct loop or
            a prior ack call). `false` if this call actually deleted it from Firestore.

    # ── Shared Schemas ──

    TokenUsage:
      type: object
      description: Cumulative token usage for the subagent's conversation thread.
      properties:
        input:
          type: integer
          description: Total input (prompt) tokens consumed.
          example: 42000
        output:
          type: integer
          description: Total output (completion) tokens consumed.
          example: 18000
        total:
          type: integer
          description: Sum of input + output tokens.
          example: 60000

    ConversationMessage:
      type: object
      description: |
        A single message in the conversation thread. Same shape as the messages
        used in the main chat API. Follows the OpenAI chat completion message format.
      required: [role, content]
      properties:
        role:
          type: string
          enum: [system, user, assistant, tool]
          description: |
            The role of the message author:
            - `system`: System prompt or injected context (e.g., notifications)
            - `user`: The original prompt or follow-up message
            - `assistant`: The agent's response (may include `tool_calls`)
            - `tool`: The result of a tool execution (paired with a `tool_call_id`)
        content:
          type: string
          nullable: true
          description: |
            The text content of the message. Null for assistant messages that only
            contain tool calls.
        tool_calls:
          type: array
          nullable: true
          description: |
            Tool calls made by the assistant in this message. Only present on
            `assistant` messages. Each tool call has an ID that corresponds to a
            subsequent `tool` message's `tool_call_id`.
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique tool call ID.
              type:
                type: string
                enum: [function]
              function:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the tool/function called.
                  arguments:
                    type: string
                    description: JSON string of the function arguments.
        tool_call_id:
          type: string
          nullable: true
          description: |
            For `tool` role messages only. The ID of the tool call this result
            corresponds to.

    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: |
            Machine-readable error code. Use this for programmatic error handling.
            Examples: `"validation_error"`, `"not_found"`, `"concurrent_limit_exceeded"`,
            `"not_completed"`, `"still_running"`, `"origin_validation_failed"`,
            `"unauthorized"`.
        message:
          type: string
          description: |
            Human-readable error message with enough context to understand and
            resolve the issue. The primary agent can present this directly to the user.

  responses:
    BadRequest:
      description: |
        Invalid request body or parameters. The `message` field describes what
        is wrong. Common causes: missing required fields, invalid `max_turns` value
        (must be 1-50), empty `prompt`, or invalid `personaId`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "validation_error"
            message: "Field 'prompt' is required and must be a non-empty string."
    Unauthorized:
      description: |
        Missing or invalid JWT. Include a valid Bearer token in the `Authorization`
        header. The token must not be expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "unauthorized"
            message: "Missing or invalid Authorization header. Provide a valid Bearer JWT."
    NotFound:
      description: |
        The requested subagent task does not exist or does not belong to the
        authenticated user. Verify the `task_id` is correct.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "not_found"
            message: "Subagent task sa_1711234567_abc123 not found."
