openapi: 3.0.0
info:
  title: PR Bot API
  description: |
    PR Bot — dispatch GitHub Actions workflows to create pull requests
    from natural language task descriptions.

    Zero setup: no Dockerfile, no SSH keys.
    Credentials (GitHub token, LLM API key) are supplied via request body
    or X-Dependency-Tokens header.

    Single unified route namespace: all endpoints are under /api/v1/prbot/*.

    Auth: Authorization: Bearer <user JWT> (required) and, for service-to-service
    callers, X-Admin-Key: <MCP_ADMIN_KEY> (optional).

    Run lifecycle: dispatched → queued → in_progress → completed | failed | timed_out | cancelled.
    Use dispatch_id (returned from /dispatch) to poll status and fetch logs.
  version: 5.0.0

servers:
  - url: https://api.apifunnel.ai
    description: Production
  - url: http://localhost:3003
    description: Local development

paths:
  /api/v1/prbot/dispatch:
    post:
      operationId: prbot_dispatch
      summary: Dispatch a GitHub Actions run to create a pull request
      description: |
        Syncs the workflow template to the target repo and fires workflow_dispatch
        with credentials passed directly (no DB lookups).

        Returns 202 immediately with a dispatch_id (our correlation key) and a
        GitHub Actions run URL. The workflow runs asynchronously.

        Use the dispatch_id to poll GET /runs/{id} for status and
        GET /runs/{id}/logs for agent output.

        A one-time report_token is generated and passed to the workflow. On completion
        (success or failure), the workflow calls /callback with the full run report.

        Two success statuses:
          - "dispatched": workflow fired, dispatch_id + github.run_url available
          - "repo_just_configured": workflow file just created, GitHub needs ~8s — retry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - repo
                - task_context
              properties:
                repo:
                  type: string
                  description: Target repository in "owner/repo" format
                  example: "acme-org/backend-service"
                task_context:
                  type: string
                  description: Natural language description of the coding task for the AI agent.
                  example: "Add rate limiting middleware to the /api/orders endpoint."
                base_branch:
                  type: string
                  description: Branch to checkout from and PR into (default "main")
                  default: "main"
                branch_name:
                  type: string
                  description: |
                    Optional feature branch name for the PR.
                    If omitted, a deterministic name is generated from the task context.
                  example: "feat/add-rate-limiting"
                github_token:
                  type: string
                  description: |
                    GitHub PAT or installation token. Falls back to X-Dependency-Tokens
                    header (github_rest key) if not provided.
                api_key:
                  type: string
                  description: |
                    LLM API key (Anthropic or Google AI). Falls back to X-Dependency-Tokens
                    header (agent_key key) if not provided.
      responses:
        '202':
          description: Workflow dispatched or repo just configured.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DispatchedResponse'
                  - $ref: '#/components/schemas/RepoJustConfiguredResponse'
        '400':
          description: Bad request — missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized — missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/callback:
    post:
      operationId: prbot_callback
      summary: Receive run report from a completed workflow
      description: |
        Called by the GitHub Actions workflow's final step (runs on success or failure).
        Validates the one-time report_token, then merges the run report into MongoDB.

        The report includes: agent logs (base64), step outcomes, PR status/URL,
        commit SHA, errors, and timing metadata. Agent logs are decoded and stored
        as structured line arrays for paginated retrieval via GET /runs/{id}/logs.

        No JWT required — authenticated via the report_token generated at dispatch time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackReport'
      responses:
        '200':
          description: Report accepted and persisted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '401':
          description: Invalid or expired report_token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/runs:
    get:
      operationId: prbot_list_runs
      summary: List run reports for a repository
      description: |
        Returns recent run reports for a given repo, newest first.
        Used by the app UI to show workflow history and results.
        Log lines are excluded from list responses for performance.
      parameters:
        - name: repo
          in: query
          required: true
          schema:
            type: string
          description: Repository in "owner/repo" format
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of run reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  repo:
                    type: string
                  count:
                    type: integer
                  reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunSummary'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/runs/{id}:
    get:
      operationId: prbot_get_run
      summary: Get run status and metadata
      description: |
        Returns the full run record with a log availability summary.
        Accepts either a dispatch_id (dsp_...) or a GitHub Actions run_id
        as the path parameter — the endpoint figures out which one it is.

        The response includes a `logs` block summarizing availability and
        line count. Use GET /runs/{id}/logs to fetch actual log lines.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: dispatch_id (dsp_...) or GitHub Actions run_id
          example: "dsp_a1b2c3d4e5f6g7h8"
      responses:
        '200':
          description: Run status and metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStatusResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/runs/{id}/logs:
    get:
      operationId: prbot_get_run_logs
      summary: Retrieve log lines for a run
      description: |
        Returns agent output log lines for a completed (or in-progress) run.
        Three retrieval modes:
          - all=true: every line in one response (for archival, programmatic use)
          - page=N: specific page of lines (1-indexed)
          - page=-1: last page only (quick tail check)

        Accepts dispatch_id (dsp_...) or run_id as the path parameter.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: dispatch_id (dsp_...) or GitHub Actions run_id
        - name: all
          in: query
          schema:
            type: boolean
            default: false
          description: If true, returns all log lines in one response. Ignores page/page_size.
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number (1-indexed). Use -1 for last page. Ignored when all=true.
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
          description: Lines per page. Ignored when all=true.
      responses:
        '200':
          description: Log lines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Run not found or no logs available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/install-link:
    get:
      operationId: prbot_install_link
      summary: Get GitHub App installation URL
      description: |
        Returns a GitHub App installation URL with the user's ID embedded as the
        `state` parameter. Requires a user JWT.
      responses:
        '200':
          description: Install URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  install_url:
                    type: string
                    example: "https://github.com/apps/apifunnel-workspace/installations/new?state=usr_abc123"
        '401':
          description: Unauthorized — JWT required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/install-callback:
    get:
      operationId: prbot_install_callback
      summary: Handle GitHub App post-installation redirect
      description: |
        GitHub redirects the user here after installing the App. Links the
        installation to the platform user and redirects back to the app UI.
        Not called by API consumers directly.
      parameters:
        - name: installation_id
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: Platform user_id
        - name: setup_action
          in: query
          schema:
            type: string
      security: []
      responses:
        '302':
          description: Redirect to app UI
        '400':
          description: Missing installation_id or state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/webhook:
    post:
      operationId: prbot_webhook
      summary: Receive GitHub App webhook events
      description: |
        Handles GitHub App installation lifecycle events.
        Authenticated via HMAC signature (X-Hub-Signature-256).
      security: []
      responses:
        '200':
          description: Event processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
        '401':
          description: Invalid HMAC signature

  /api/v1/prbot/openapi.yaml:
    get:
      operationId: prbot_openapi_spec
      summary: OpenAPI specification
      security: []
      responses:
        '200':
          description: OpenAPI 3.0 YAML
          content:
            application/yaml:
              schema:
                type: string

  /health:
    get:
      operationId: health_check
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  service:
                    type: string
                    example: prbot

components:
  schemas:
    CallbackReport:
      type: object
      required:
        - repo
        - run_id
        - report_token
      properties:
        repo:
          type: string
          example: "acme-org/backend-service"
        run_id:
          type: string
          description: GitHub Actions run ID
          example: "12345678901"
        run_url:
          type: string
          example: "https://github.com/acme-org/backend-service/actions/runs/12345678901"
        run_number:
          type: string
        base_branch:
          type: string
          example: "main"
        branch_name:
          type: string
          example: "prbot/add-rate-limiting-1712345678"
        agent:
          type: string
          enum: [claude, gemini]
        report_token:
          type: string
          description: One-time token generated at dispatch for callback auth
        status:
          type: string
          description: Overall run outcome
          enum: [success, failed]
        steps:
          type: object
          properties:
            agent:
              type: object
              properties:
                exit_code:
                  type: string
                  enum: [success, failure, cancelled, skipped]
            create_pr:
              type: object
              properties:
                exit_code:
                  type: string
                  enum: [success, failure, cancelled, skipped]
                pr_status:
                  type: string
                  enum: [created, no_agent_result, no_changes, protected_branch, pr_create_failed, skipped]
                pr_url:
                  type: string
                commit_sha:
                  type: string
        agent_log_b64:
          type: string
          description: Base64-encoded agent stdout/stderr (up to 500KB). Decoded and stored as structured log lines on the server.

    RunSummary:
      type: object
      description: Lightweight run record returned in list responses (no log lines).
      properties:
        dispatch_id:
          type: string
          example: "dsp_a1b2c3d4e5f6g7h8"
        run_id:
          type: string
          nullable: true
          example: "12345678901"
        repo:
          type: string
          example: "acme-org/backend-service"
        status:
          type: string
          enum: [dispatched, queued, in_progress, completed, failed, timed_out, cancelled]
        base_branch:
          type: string
          example: "main"
        branch_name:
          type: string
          example: "prbot/add-readme-1712345678"
        agent:
          type: string
          enum: [claude, gemini]
          nullable: true
        task_context:
          type: string
          description: First 500 chars of the task description.
        run_url:
          type: string
          nullable: true
        dispatched_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        steps:
          $ref: '#/components/schemas/StepOutcomes'

    RunStatusResponse:
      type: object
      description: Full run record with log availability summary.
      properties:
        dispatch_id:
          type: string
          example: "dsp_a1b2c3d4e5f6g7h8"
        run_id:
          type: string
          description: GitHub Actions run ID. Null until the callback is received.
          example: "12345678901"
          nullable: true
        repo:
          type: string
          example: "acme-org/backend-service"
        status:
          type: string
          enum: [dispatched, queued, in_progress, completed, failed, timed_out, cancelled]
          description: Current lifecycle status of the run.
        base_branch:
          type: string
          example: "main"
        branch_name:
          type: string
          example: "prbot/add-readme-1712345678"
        agent:
          type: string
          enum: [claude, gemini]
          nullable: true
        task_context:
          type: string
          description: First 500 chars of the original task description.
        run_url:
          type: string
          nullable: true
          example: "https://github.com/acme-org/backend-service/actions/runs/12345678901"
        dispatched_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        steps:
          $ref: '#/components/schemas/StepOutcomes'
        logs:
          type: object
          description: Log availability summary. Use GET /runs/{id}/logs to fetch actual lines.
          properties:
            available:
              type: boolean
              description: True if log lines exist and can be fetched.
            total_lines:
              type: integer
              description: Number of log lines stored. 0 if not yet available.
              example: 2847
            total_pages:
              type: integer
              description: Based on default page_size of 100.
              example: 29
            truncated:
              type: boolean
              description: True if original output exceeded storage limit and was truncated.

    LogsResponse:
      type: object
      description: Paginated (or full) log lines for a run.
      properties:
        dispatch_id:
          type: string
          example: "dsp_a1b2c3d4e5f6g7h8"
        run_id:
          type: string
          nullable: true
          example: "12345678901"
        status:
          type: string
          enum: [dispatched, queued, in_progress, completed, failed, timed_out, cancelled]
        total_lines:
          type: integer
          example: 2847
        total_pages:
          type: integer
          description: Total pages at current page_size. Null when all=true.
          nullable: true
          example: 29
        page:
          type: integer
          description: Current page number. Null when all=true.
          nullable: true
          example: 1
        page_size:
          type: integer
          description: Lines per page. Null when all=true.
          nullable: true
          example: 100
        truncated:
          type: boolean
          description: True if original output exceeded storage limit and was truncated.
          example: false
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LogLine'

    LogLine:
      type: object
      properties:
        n:
          type: integer
          description: Line number (1-indexed, sequential)
          example: 1
        t:
          type: string
          format: date-time
          nullable: true
          description: Timestamp if available from agent stream output
        text:
          type: string
          description: The log line content
          example: "Installing @anthropic-ai/claude-code..."

    StepOutcomes:
      type: object
      nullable: true
      properties:
        agent:
          type: object
          properties:
            exit_code:
              type: string
              enum: [success, failure, cancelled, skipped]
        create_pr:
          type: object
          properties:
            exit_code:
              type: string
              enum: [success, failure, cancelled, skipped]
            pr_status:
              type: string
              enum: [created, no_agent_result, no_changes, protected_branch, pr_create_failed, skipped]
            pr_url:
              type: string
              nullable: true
              example: "https://github.com/acme-org/backend-service/pull/42"
            commit_sha:
              type: string
              nullable: true

    DispatchedResponse:
      type: object
      required: [success, status, dispatch_id, repo, branch_name]
      properties:
        success:
          type: boolean
          example: true
        status:
          type: string
          enum: [dispatched]
        dispatch_id:
          type: string
          description: Unique correlation ID for this run. Use to poll status and fetch logs.
          example: "dsp_a1b2c3d4e5f6g7h8"
        repo:
          type: string
          example: "acme-org/backend-service"
        base_branch:
          type: string
          example: "main"
        branch_name:
          type: string
          description: Effective branch name (user-supplied or generated)
          example: "prbot/add-readme-1712345678"
        workflow_ref:
          type: string
          example: "main"
        github:
          type: object
          properties:
            run_url:
              type: string
              example: "https://github.com/acme-org/backend-service/actions/runs/12345"
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/Warning'

    RepoJustConfiguredResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        status:
          type: string
          enum: [repo_just_configured]
        message:
          type: string
        repo:
          type: string
        base_branch:
          type: string
        workflow_file:
          type: string
          example: ".github/workflows/mcp-workspace.yml"
        workflow_ref:
          type: string
        github:
          type: object
          properties:
            commit_url:
              type: string
        retry:
          type: object
          properties:
            action:
              type: string
              example: "CALL_THIS_TOOL_AGAIN_WITH_SAME_ARGUMENTS"
            delay_seconds:
              type: integer
              example: 8
            max_attempts:
              type: integer
              example: 3
            reason:
              type: string

    Warning:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        settings_url:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        User JWT. Required on every authenticated route.
        Carries `sub` (user_id), `email`, and other identity claims.
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: |
        Service-to-service admin key (`MCP_ADMIN_KEY`). Optional.
        When present alongside `BearerAuth`, grants admin-level trust on
        top of the user JWT identity.

security:
  - BearerAuth: []
  - BearerAuth: []
    AdminKey: []
