openapi: 3.0.0
info:
  title: PR Bot API
  description: |
    PR Bot — dispatch GitHub Actions workflows to create pull requests
    from natural language task descriptions.

    Zero setup: no Dockerfile, no SSH keys.
    Two prerequisites (checked automatically): GitHub connected via OAuth, LLM API key stored.

    Single unified route namespace: all endpoints are under /api/v1/prbot/*.
    Auth accepts Bearer JWT (client UI) or Bearer MCP_ADMIN_KEY + X-User-Token (bridge/MCP).
  version: 2.0.0

servers:
  - url: https://api.apifunnel.ai
    description: Production
  - url: http://localhost:3003
    description: Local development (override via .env)

paths:
  /api/v1/prbot/preflight:
    post:
      operationId: prbot_preflight
      summary: Check all dispatch prerequisites
      description: |
        **Call this before every dispatch.** Returns structured JSON with step-by-step
        status plus a `markdown` field with rich guidance for agent callers.

        Steps checked (in order):
          1. GitHub connected (persisted OAuth token or App installation fallback)
          2. LLM API key stored (workspace_agent_key in service_api_keys)

        Response always returns HTTP 200. Check `all_clear` to know if dispatch is safe.
        If `all_clear` is false, read `markdown` and guide the user through the failing
        steps before attempting dispatch.

        Each step includes `status`, `code`, and `details` with machine-readable
        data (URLs, API call specs, guidance text) so the app can render the right UI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - repo
              properties:
                repo:
                  type: string
                  description: Target repository in "owner/repo" format
                  example: "acme-org/backend-service"
                ref:
                  type: string
                  description: Git branch or tag (default "main")
                  default: "main"
                user_id:
                  type: string
                  description: Required when using admin-key auth
      responses:
        '200':
          description: Pre-flight results (always 200 — check all_clear field)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreflightResponse'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/dispatch:
    post:
      operationId: prbot_dispatch
      summary: Dispatch a GitHub Actions run to create a pull request
      description: |
        Resolves a GitHub token (OAuth first, App fallback), syncs the workflow template,
        mints a single-use job token, and fires workflow_dispatch.

        Returns 202 immediately with a GitHub Actions run URL. The workflow runs
        asynchronously — open run_url to monitor progress.

        Pre-flight order (each is a hard stop):
          1. GitHub token resolved (persisted OAuth or App installation)
          2. workspace_agent_key (LLM API key) loaded
          3. Single-use job token minted
          4. Workflow file synced (created or updated)
          5. workflow_dispatch fired

        Two success statuses:
          - "dispatched": workflow fired, github.run_url available, poll for completion
          - "repo_just_configured": workflow file just created, GitHub needs ~5s to register it — retry dispatch

        Known error codes (all 422):
          github_not_connected, agent_key_required, workflow_sync_failed, github_api_error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - repo
                - task_context
              properties:
                repo:
                  type: string
                  description: Target repository in "owner/repo" format
                  example: "acme-org/backend-service"
                task_context:
                  type: string
                  description: |
                    Natural language description of the coding task for the AI agent.
                    Be specific about what changes to make, which files to touch, and
                    what the PR should accomplish.
                  example: "Add rate limiting middleware to the /api/orders endpoint. Use a sliding window of 100 requests per minute per user."
                ref:
                  type: string
                  description: Git branch or tag to base the PR on (default "main")
                  default: "main"
                  example: "main"
      responses:
        '202':
          description: |
            Workflow dispatched (status="dispatched") or workflow file just created
            and needs a few seconds before dispatch can proceed (status="repo_just_configured").
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DispatchedResponse'
                  - $ref: '#/components/schemas/RepoJustConfiguredResponse'
        '400':
          description: Bad request — missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized — missing or invalid admin key / X-User-Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: |
            Pre-flight check failed. Inspect "code" to determine what needs to be fixed.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/GithubNotConnectedError'
                  - $ref: '#/components/schemas/AgentKeyRequiredError'
                  - $ref: '#/components/schemas/WorkflowSyncFailedError'
                  - $ref: '#/components/schemas/GithubApiError'
                discriminator:
                  propertyName: code
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/callback:
    post:
      operationId: prbot_callback
      summary: Receive completion callback from a workflow run (placeholder)
      description: |
        Called by the GitHub Actions workflow (or a future orchestrator) when a
        workflow run completes. Currently logs the payload and returns 200 ack.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Free-form payload (run_id, pr_url, status, etc.)
              additionalProperties: true
      responses:
        '200':
          description: Acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  status:
                    type: string
                    example: "ack"
        '400':
          description: Invalid JSON body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized — missing or invalid admin key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/install-link:
    get:
      operationId: prbot_install_link
      summary: Get GitHub App installation URL
      description: |
        Returns a GitHub App installation URL with the user's ID embedded as the
        `state` parameter. The user opens this URL to install the GitHub App on
        their account or organization.

        Requires a user JWT (admin-key auth is not supported for this endpoint).
      responses:
        '200':
          description: Install URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  install_url:
                    type: string
                    description: GitHub App installation URL with state=user_id
                    example: "https://github.com/apps/apifunnel-workspace/installations/new?state=usr_abc123"
        '401':
          description: Unauthorized — JWT required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/install-callback:
    get:
      operationId: prbot_install_callback
      summary: Handle GitHub App post-installation redirect
      description: |
        GitHub redirects the user here after installing the App. Links the
        installation to the platform user (via state param) and redirects
        the user back to the app UI.

        Not called by API consumers directly — this is the GitHub App callback URL.
      parameters:
        - name: installation_id
          in: query
          required: true
          schema:
            type: string
          description: GitHub installation ID (set by GitHub redirect)
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: Platform user_id (embedded during install-link)
        - name: setup_action
          in: query
          schema:
            type: string
          description: GitHub setup action (e.g. "install")
      security: []
      responses:
        '302':
          description: Redirect to app UI with installation_linked=1
        '400':
          description: Missing installation_id or state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/job-secrets:
    get:
      operationId: prbot_job_secrets
      summary: Exchange a single-use job token for LLM API key
      description: |
        Called from inside the GitHub Actions workflow runner. Consumes a
        single-use job token and returns the user's encrypted LLM API key.

        No JWT or admin-key auth — the job token IS the credential.
        Tokens are single-use and expire after a TTL.
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Single-use job token minted during dispatch
        - name: repo
          in: query
          required: true
          schema:
            type: string
          description: Repository in "owner/repo" format (must match the token)
      security: []
      responses:
        '200':
          description: API key returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  ANTHROPIC_API_KEY:
                    type: string
                    description: The user's LLM API key
        '400':
          description: Missing token or repo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid, expired, or already-consumed token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/prbot/webhook:
    post:
      operationId: prbot_webhook
      summary: Receive GitHub App webhook events
      description: |
        Handles GitHub App installation lifecycle events:
        installation (created, deleted, suspended, unsuspended) and
        installation_repositories (added, removed).

        Authenticated via HMAC signature (X-Hub-Signature-256) using
        GH_APP_WEBHOOK_SECRET. Not called by API consumers — GitHub
        sends events here automatically.
      security: []
      responses:
        '200':
          description: Event processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
        '400':
          description: Invalid JSON payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid HMAC signature
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "invalid signature"

  /api/v1/prbot/openapi.yaml:
    get:
      operationId: prbot_openapi_spec
      summary: OpenAPI specification
      description: Returns this YAML specification file.
      security: []
      responses:
        '200':
          description: OpenAPI 3.0 YAML
          content:
            application/yaml:
              schema:
                type: string

  /health:
    get:
      operationId: health_check
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  service:
                    type: string
                    example: prbot

components:
  schemas:

    # ── Preflight response ─────────────────────────────────────────────────────

    PreflightResponse:
      type: object
      properties:
        all_clear:
          type: boolean
          description: True only if both steps are complete. Safe to dispatch only when true.
        repo:
          type: string
        ref:
          type: string
        steps_complete:
          type: integer
          example: 1
        steps_total:
          type: integer
          example: 2
        steps:
          type: array
          items:
            type: object
            properties:
              number:
                type: integer
                description: Step number (1–2)
              name:
                type: string
                description: Human-readable step label
              status:
                type: string
                enum: [ok, missing]
                description: |
                  ok      — step is complete, no action needed
                  missing — step is not complete, requires action
              code:
                type: string
                description: |
                  Snake_case code for the issue. Empty string when status is "ok".
                  Known codes: github_not_connected, agent_key_required
              details:
                type: object
                description: |
                  Step-specific data. Contents vary by code:

                  github_not_connected:
                    oauth_url (string), guidance (string)

                  agent_key_required:
                    user_guidance (string), store_endpoint (object with method/path/body/note)
                additionalProperties: true
        markdown:
          type: string
          description: Rich markdown guidance for LLM agent callers.

    # ── Success responses ──────────────────────────────────────────────────────

    DispatchedResponse:
      type: object
      description: Workflow fired successfully. Monitor github.run_url for progress.
      properties:
        success:
          type: boolean
          example: true
        status:
          type: string
          enum: [dispatched]
        repo:
          type: string
          example: "acme-org/backend-service"
        ref:
          type: string
          example: "main"
        workflow_ref:
          type: string
          description: The branch the workflow was dispatched on (usually the default branch).
          example: "main"
        github:
          type: object
          properties:
            run_url:
              type: string
              description: Direct link to the GitHub Actions run
              example: "https://github.com/acme-org/backend-service/actions/runs/12345"
        warnings:
          type: array
          description: |
            Non-fatal advisory notices. Dispatch still proceeds.
            Currently only "branch_unprotected" is emitted.
          items:
            type: object
            properties:
              code:
                type: string
                example: "branch_unprotected"
              message:
                type: string
                example: "Branch 'main' has no protection rules. The agent could push directly to it."
              settings_url:
                type: string
                example: "https://github.com/acme-org/backend-service/settings/branches"

    RepoJustConfiguredResponse:
      type: object
      description: |
        The workflow file was just committed to the repo for the first time.
        GitHub needs a few seconds to register it before workflow_dispatch can proceed.
        Wait ~5 seconds and retry dispatch — the next call will return "dispatched".
      properties:
        success:
          type: boolean
          example: true
        status:
          type: string
          enum: [repo_just_configured]
        message:
          type: string
          example: "The MCP workspace workflow was just committed to this repository. GitHub needs a few seconds to register it. Please retry dispatch."
        repo:
          type: string
          example: "acme-org/backend-service"
        ref:
          type: string
          example: "main"
        workflow_file:
          type: string
          description: Path of the workflow file that was just committed
          example: ".github/workflows/mcp-workspace.yml"
        workflow_ref:
          type: string
          description: The default branch the workflow was committed to.
          example: "main"
        github:
          type: object
          properties:
            commit_url:
              type: string
              description: URL to view the commit on GitHub
              example: "https://github.com/acme-org/backend-service/commits/main"
        retry:
          type: object
          description: Retry instructions for callers.
          properties:
            action:
              type: string
              example: "CALL_THIS_TOOL_AGAIN_WITH_SAME_ARGUMENTS"
            delay_seconds:
              type: integer
              example: 8
            max_attempts:
              type: integer
              example: 3
            reason:
              type: string

    # ── 422 error responses ────────────────────────────────────────────────────

    GithubNotConnectedError:
      type: object
      description: |
        No GitHub token available. The user must connect GitHub via OAuth.
        Direct the user to resolution.oauth_url, then retry dispatch.
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "No GitHub token available. Connect GitHub via OAuth to enable workspace dispatch."
        code:
          type: string
          enum: [github_not_connected]
        repo:
          type: string
        resolution:
          type: object
          properties:
            action:
              type: string
              example: "connect_github"
            description:
              type: string
              example: "Connect your GitHub account via OAuth so the platform can access your repository."
            oauth_url:
              type: string
              example: "/api/oauth/start/github_rest_api"

    AgentKeyRequiredError:
      type: object
      description: |
        The user has not stored an LLM API key (Anthropic or Google AI).
        Use resolution.endpoint with resolution.payload to store it, then retry dispatch.
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "An LLM API key is required to run the coding agent."
        code:
          type: string
          enum: [agent_key_required]
        repo:
          type: string
        resolution:
          type: object
          properties:
            action:
              type: string
              example: "store_key"
            endpoint:
              type: string
              example: "POST /api/service-api-keys"
            payload:
              type: object
              properties:
                service_name:
                  type: string
                  example: "workspace_agent_key"
                api_key:
                  type: string
                  example: "sk-ant-..."
            note:
              type: string
              example: "Use your Anthropic key (sk-ant-...) for Claude Code, or your Google AI key for Gemini CLI."

    WorkflowSyncFailedError:
      type: object
      description: The server failed to sync the workflow YAML to the repo via the Contents API.
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "Failed to sync workflow file via GitHub API."
        code:
          type: string
          enum: [workflow_sync_failed]
        repo:
          type: string
        ref:
          type: string

    GithubApiError:
      type: object
      description: The workflow_dispatch API call to GitHub failed.
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string
          enum: [github_api_error]
        repo:
          type: string
        ref:
          type: string

    # ── Generic error ──────────────────────────────────────────────────────────

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Snake_case error code

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Bearer JWT for client UI calls.
        Or Bearer MCP_ADMIN_KEY with X-User-Token header for bridge/MCP calls.

security:
  - BearerAuth: []
